<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barranquero.manageproductsrecycler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ManageProductsApplication">
        <activity android:name=".LoginActivity" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListProductFragment">

        </activity>
        <activity android:name=".ManageProductFragment" android:windowSoftInputMode="adjustPan" android:parentActivityName=".ListProductFragment"/>
        <activity android:name=".GeneralSettingsActivity"/>
        <activity android:name=".AccountSettingsActivity"/>
        <activity android:name=".SignupActivity" android:parentActivityName=".LoginActivity" android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>