<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barranquero.manageproductsrecycler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ManageProducts_Application">
        <activity android:name=".Login_Activity" android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".Product_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManageProduct_Activity" android:windowSoftInputMode="adjustPan" android:parentActivityName=".Product_Activity"/>
        <activity android:name=".GeneralSettingsActivity"/>
        <activity android:name=".AccountSettingsActivity"/>
        <activity android:name=".Sign_Activity" android:parentActivityName=".Login_Activity" android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>